.menu ul{
    display: flex;
}
.menu li{
    list-style: none;
    
}
.menu a{
    text-decoration: none;
    color: black;
    margin-right: 20px;
    padding: 15px;
    
}
.menu a:hover{
    background-color: lightblue;
}

/* 4-8Class: hero */
.hero{
    display: flex;
    background-color: rgb(120, 143, 142);
    align-items: center; /* Vertical center */
    gap: 50px; /*Gap for Child. 2div text and img */
    border-radius: 25px;
    
}
.hero button{
    background-color: lightcoral;
    padding: 10px 30px;
    font-size: 1.5em;
    cursor: pointer;
    border-radius: 10px;
} 

.hero img{
    width: 100%;
    height: 300px;
    border-radius: 10px 80px 10px 30px; 
}
body{
    max-width: 1270px;
    background-color: darkgrey; 
    margin: 0 auto;
}

/* 4-9Class: Card */
.card{
    width: 300px;
    border: 2px solid rgb(34, 11, 1);
    border-radius: 10px 25px;
    padding: 10px;
    box-shadow: 10px 5px 10px black;
    background-color: blueviolet;
    text-align: left;
}
.card:hover{
    background-color: rgb(83, 46, 52);
    transform: scale(1.2);}
.card img{
    width:100%;
    border-radius: 20px;
}
.card img:hover{
     transform: rotate(5deg);
     
}
   
.card button{
    background-color: bisque;
    border-radius: 10px;
    padding: 10px 30px;
    font-size: 1.25em;
}
.continer{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin: 100px;
}
section{
    text-align: center;
}